.ui.form .field > label {
  color: #fff !important;
  font-size: 1.3vw !important;
  padding-bottom: 10px;
  letter-spacing: 0.2vw;
}

input.subscribe-input {
  border-radius: 30px 0 0px 30px !important;
  background-color: #222222 !important;
  flex-grow: 2 !important;
  height: 6vh;
}

div.ui.action.input {
  border-radius: 30px !important;
  display: flex !important;
  flex-direction: row !important;
}

div.ui.button {
  background: #222222 !important;
  border: 1px solid #878787 !important;
  border-radius: 20px !important;
  margin-left: -10px !important;
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
}
.footer-logo {
  width: 22vw;
}

div.ui.segment {
  background-color: #000;
}

.footer-icons i {
  padding-right: 60px;
}

.footer-container {
  background-color: #000;
  color: #fff;
  /* height: 80vh; */
  padding: 4vw 11vw;
}

.footer-container p {
  font-size: 0.9vw;
  color: rgba(255, 255, 255, 0.521);
}

.ui.list.item {
  font-weight: 100;
  line-height: 1em;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 4vw 0;
}

.menu-footer li {
  list-style: none;
  font-size: 1.2vw;
  font-weight: 100;
  line-height: 1.8vw;
  color: rgba(255, 255, 255, 0.76);
}

.menu-footer {
  padding-right: 8vw;
}
